@using Services
@model List<string>
@{
    this.ViewData["Title"] = "Error Page";
}

<div class="container">
    @foreach (var ex in @Model)
    {
        <h4>@ex</h4>
        <br/>
    }
    <button onclick="goBack()">Go Back</button>
</div>

@section Scripts{
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
}
