@using Services
@model List<string>
@{
    this.ViewData["Title"] = "Error Page";
}

<style>
	/*.container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
        order: 1;
	}*/
	.btn {
		border-radius: 25px;
	}
</style>

<div class="container text-center">
    <br />
	<h4>Errors:</h4>
    <br />
    @foreach (var ex in @Model)
    {
        <p>@ex</p>
        <br/>
    }
    <input class="btn btn-primary" type="submit" onclick="goBack()" value="Go Back">
</div>

@section Scripts{
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
}
