@{
    ViewData["Title"] = "Home Page";
}

<head>
	<link rel="stylesheet" href="~/css/LandingPage.css" />
</head>

<div class="container custom_main_div">
    <h3>
		See if you are eligible for a credit?
	</h3>
	<img src="~/img/flame-payment-processed-2.png">

</div>