/*.img {
	background-image: url(~/img/flame-payment-processed-2.png);
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.img {
		background-image: url(~/img/flame-payment-processed-2.png);
	}
}*/

.custom_main_div {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

#sec_div {
	order: 1;
	text-align: center
}

#dude {
	order: 2;
	max-height: 400px;
	width: auto;
	height: auto;
	resize: both;
	margin-top: 40px;
	justify-content: right;
}

#sub_but {
	border-radius: 25px;
	height: 40px;
	background-color: #f04e23;
	color: #10294c;
	font-weight: bold;
}

h3 {
	margin-top: 150px;
	color: white
}

body {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #064e96;
}