@using MyCS.InputModels
@model CsvFile
@{
	ViewData["Title"] = "Seed data";
}

<div class="container">
	<a asp-area="" asp-controller="Seed" asp-action="SeedRecords">Seed</a>
</div>

<style>
	#drop_zone {
		border: 5px solid blue;
		width: 200px;
		height: 100px;
	}
</style>
<div id="drop_zone" ondrop="dropHandler(event);" ondragover="allowDrop(event)">
	<p>Drag one or more files to this Drop Zone ...</p>
</div>

<form asp-controller="Seed" asp-action="SeedRecords" method="post" enctype="multipart/form-data">
	<div class="form-group">
		<label asp-for="@Model.File"></label>
		<input asp-for="@Model.File" class="form-control" />
	</div>
	<button type ="submit" class="btn btn-primary">Submit</button>
</form>
	<!--<script>
				function allowDrop(ev){
					ev.preventDefault();
				}
				function dropHandler(ev) {
					ev.preventDefault();
					console.log('File(s) dropped');

					if (ev.dataTransfer.items) {
						for (var i = 0; i < ev.dataTransfer.items.length; i++) {
							if (ev.dataTransfer.items[i].kind === 'file') {
								var file = ev.dataTransfer.items[i].getAsFile();
								console.log('... file[' + i + '].name = ' + file.name);
							}
						}
					}
					else {
						for (var i = 0; i < ev.dataTransfer.files.length; i++) {
						console.log('... file[' + i + '].name = ' + ev.dataTransfer.files[i].name);
						}
					}
				}
	</script>-->
