@using MyCS.InputModels
@model CsvFile
@{
	ViewData["Title"] = "Seed data";
}

<!--div class="container">
	<a asp-area="" asp-controller="Seed" asp-action="SeedRecords">Seed</a>
</div>-->
<h1 class="display-4">
	Seed
</h1>
<br />
<body class="text-center">
	<style>
		#drop_zone {
			border-radius: 25px;
			border: 5px solid #1b6ec2;
			width: 400px;
			height: 220px;
			text-align: center;
			margin: auto;
		}

		#input_zone {
			border-radius: 20px;
			border: 1px solid #b1b1b1;
			width: 390px;
			height: 154px;
			text-align: center;
			border-top-left-radius: 0px;
			border-top-right-radius: 0px;
			cursor: pointer;
			padding-left: 90px;
			padding-top: 50px;
			
		}

		#submit_btn {
			border-radius: 25px;
			text-align: center
		}
	</style>

	<form asp-controller="Seed" asp-action="SeedRecords" method="post" enctype="multipart/form-data">
		<div id="drop_zone" class="form-group">
			<p></p>
			<p>
				Drag one or more files into this Drop Zone:
			</p>

			<input id="input_zone" asp-for="@Model.File" class="form-control"/>

		</div>
		<br />
		<input id="submit_btn" type="submit" class="btn btn-primary" />
	</form>
</body>

<!--<script>
			function allowDrop(ev){
				ev.preventDefault();
			}
			function dropHandler(ev) {
				ev.preventDefault();
				console.log('File(s) dropped');

				if (ev.dataTransfer.items) {
					for (var i = 0; i < ev.dataTransfer.items.length; i++) {
						if (ev.dataTransfer.items[i].kind === 'file') {
							var file = ev.dataTransfer.items[i].getAsFile();
							console.log('... file[' + i + '].name = ' + file.name);
						}
					}
				}
				else {
					for (var i = 0; i < ev.dataTransfer.files.length; i++) {
					console.log('... file[' + i + '].name = ' + ev.dataTransfer.files[i].name);
					}
				}
			}
</script>-->
