@using MyCS.InputModels
@model Microsoft.AspNetCore.Http.IFormFile
@{
    ViewData["Title"] = "Seed data";
}

<body>
    <style>
        body {
            background: url("../img/finance2.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        #input_form {
            background: rgba(255,255,255,0.85);
            backdrop-filter: blur(5px);
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 25px;
            padding: 50px;
            margin: auto;
        }

        #drop_zone {
            background: white;
            border-radius: 25px;
            border: 5px solid #1b6ec2;
            /*width: 400px;*/
            height: 220px;
            text-align: center;
            margin: auto;
            display: flex;
            flex-direction: column;
            order: 1;
        }

        #input_zone {
            border-radius: 20px;
            border: 1px solid #b1b1b1;
            /*width: 390px;*/
            height: 154px;
            text-align: center;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            cursor: pointer;
            /*padding-left: 90px;
            padding-top: 50px;*/
            padding: 50px;
            order: 2;
        }

        .btn, h1, #sub_but_div {
            border-radius: 25px;
            text-align: center;
        }

		.container {
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
    </style>
    <div class="container">
        <form id="input_form" asp-controller="Rest" asp-action="CalculateScoreCsv" method="post" enctype="multipart/form-data">
            <h1 class="display-4">
                Bulk Check
            </h1>
            <br />
            <div id="drop_zone" class="form-group">

                <p></p>
                <p>
                    Drag one or more files into this drop zone:
                </p>

                <input id="input_zone" type="file" asp-for="@Model" name="data" class="form-control" />

            </div>
            <br />
            <div id="sub_but_div">
                <input id="submit_btn" type="submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</body>
