@{
    this.ViewData["Title"] = "Credit Score Calculator";
}
<head>
    <link rel="stylesheet" href="~/css/custom.css" />
</head>

<section class="container">
    <div class="left-half" >
        <article>
            <h1>Manual Credit Score Check</h1>
            <p>Fill out the form and find out your credit score.</p>
        </article>
    </div>
    <div class="right-half">
        <article>
            <h1>Bulk data Credit Score Check</h1>
            <p>Upload the csv file and get the results of all entries.</p>
        </article>
    </div>
</section>

