@{
    this.ViewData["Title"] = "Manual form";
}

<form asp-controller="CreditScore" asp-action="Manual" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col"><hr></div>
        <div class="col-auto">Personal information</div>
        <div class="col"><hr></div>
    </div>
    <div class="row">
        <div class="col"><hr></div>
        <div class="col-auto">Financial information</div>
        <div class="col"><hr></div>
    </div>

    <div class="row">
        <div class="col"><hr></div>
        <div class="col-auto">Loan information</div>
        <div class="col"><hr></div>
    </div>
</form>